numpy==1.19.4
xlrd==2.0.1
imageio==2.9.0
snapshot_selenium==0.0.2
matplotlib==3.3.3
pyecharts==1.9.0
scipy==1.5.4
aiowebsocket==1.0.0.dev2
PyMySQL==1.0.2
jieba==0.42.1
xlwt==1.3.0
xlutils==2.0.0
live==0.0.3
